.dashboard, .stats, .history {
  height: 600px;
  color: white;
  text-align: center;
  background: #41B5E9;
}

/* DASHBOARD */

.dashboard h1, .stats h1, .history h1 {
  margin: 0;
  padding: 10px 0;
  background: white;
  color: #41B5E9;
  font-family: 'Ubuntu', sans-serif;
}

.navHeader {
  width: 80%;
  margin: auto;
  text-align: center;
  color: white;
  font-family: 'Fredoka One';
  font-size: 18px;
}

/* RECORD */
.addRecord {
  height: 100%;
  width: 95%;
  margin: auto;
  font-family: 'Ubuntu', sans-serif;
}

.addEntry {
  display: grid;
  background: white;
  color: #41B5E9;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
}

.addEntryText {
  padding: 10px 10px 0 20px;
  text-align: left;
}

.addEntryText h4 {
  width: max-content;
  margin: 0;
  padding: 8px;
  background: #41B5E9;
  border-radius: 10px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

.addEntryText ol {
  padding-left: 20px;
  margin: 0;
  text-align: left;
}

.addEntryText li {
  padding-top: 10px;
  width: 100%;
}


.addEntryData {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 5px 5px;
  text-align: left;
}

.addEntryData input {
  margin: 3px 0;
}

.recordDetails {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background: white;
  border-radius: 10px;
}

.description {
  height: 40px;
  margin: 5px 0;
}

.trackBtn {
  width: 70%;
  margin: auto;
  margin-top: 5px;
  background-color: white;
  border: solid #41B5E9 2px;
  border-radius: 10px;
  color: #41B5E9;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  font-family: 'Fredoka One';
  font-size: 14px;
  cursor: pointer;
}

.trackBtn:hover {
  background-color: #41B5E9;
  color: white;
}

.recordDetails h3, .recordDetails h6 {
  width: 100%;
  color: #41B5E9;
  height: max-content;
  margin: 5px auto;
  text-align: center;
}


.recordDetails input {
  width: 34px;
  padding-right: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
}

.trackerGrid {
  width: 80%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
}

.trackerGrid div {
  display: grid;
  margin-top: 5px;
  grid-template-columns: 50% 20% 20%;
  text-align: left;
}

.trackerGrid button {
  margin-top: 15px;
}

.activity {
  margin: auto;
  background: white;
  color: #41B5E9;
  padding-left: 20px;
}

.activityBtn {
  width: 40%;
  margin: auto;
  margin: 5px;
  background-color: white;
  border: solid #41B5E9 2px;
  border-radius: 10px;
  color: #41B5E9;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  font-family: 'Fredoka One';
  font-size: 14px;
  cursor: pointer;
}

.activityBtn:hover {
  background-color: #41B5E9;
  color: white;
}

.success {
  margin-top: 60px;
  font-size: 30px;
  font-weight: bold;
  display: none;
}

/* STATS */

.statsInfo {
  width: 90%;
  margin: auto;
  padding: 10px;
  text-align: center;
  background: #41B5E9;
  font-family: 'Fredoka One';
  font-size: 14px;
  letter-spacing: 0.1em;
}

.notfound {
  width: 80%;
  margin: auto;
  font-size: 12px;
  padding-top: 150px;
}


/* HISTORY */

.recordHistory {
  overflow: auto;
  height: 400px;
  margin: auto;
  padding: 5px;
}

.record {
  height: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5px;
  padding: 5px;
  color: #41B5E9;
  background: white;
  font-family: 'Ubuntu', sans-serif;
  list-style-type: none;
  text-align: left;
  border-radius: 8px;
}

.recordInfo p {
  margin: 2px;
}

.recordDescription {
  padding-top: 5px;
  word-break:break-all
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  font-size: 14px;
}

.record b {
  padding: 2px 0;
  color: black;
}

/* MENU */

.menu {
  width: 100%;
  padding: 5px 0;
  position: absolute;
  bottom: 0;
  display: flex;
  font-size: 13px;
  background: #41B5E9;
  border: solid white 1px;
}

.menu div {
  display: flex;
  flex: 1;
  padding: 5px 0;
  justify-content: center;
}

.menu a {
  width: 80%;
  text-decoration: none;
  color: white;
  font-family: 'Fredoka One';
  letter-spacing: 0.08em;
}

.menu h3 {
  margin: 0;
  padding: 10px;
  border-radius: 14px;
  font-size: 13px;
  border: solid white 2px;
}


.menu h3:hover {
  background-color: white;
  color: #41B5E9;
  border: solid #41B5E9 2px;
}
