.dashboard, .stats, .history {
  height: 550px;
  text-align: center;
}

/* DASHBOARD */
.userDataContainer {
  width: 50%;
  margin: auto;
  text-align: left;
}

/* STATS */
#statsInfo {
  width: 90%;
  margin: auto;
  padding: 10px;
  text-align: center;
  background: #fdfdfd;
}

/* RECORD */
#addRecord {
  width: 80%;
  margin: auto;
  background: #fdfdfd
}

.recordDetails {
  margin-top: 20px;
  display: none;
}

#description {
  height: 30px;
  margin-top: 5px;
}

.recordDetails h3, .recordDetails h6 {
  height: max-content;
  margin: 5px;
}

.recordDetails input {
  width: 35px;
  margin: auto;
}

.trackerGrid div {
  display: grid;
  margin-top: 5px;
  grid-template-columns: 1fr 1fr 1fr;
}

.trackerGrid button {
  margin-top: 15px;
}

.oddGrid {
  background: #fdfdfd;
}

.success {
  margin-top: 60px;
  font-size: 30px;
  font-weight: bold;
  display: none;
}


/* HISTORY */

.recordHistory {
  overflow: auto;
  height: 400px;
  width: 95%;
  margin: auto;
  background: #fafafa;
}

.record {
  height: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  padding: 2px;
  list-style-type: none;
  text-align: left;
  background: #dddddd;
}

.recordInfo p {
  margin: 0;
  padding: 0;
}

.recordDescription {
  margin-top: 5px;
  word-break:break-all
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
}

/* MENU */

.menu {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  border-top: solid white 1px;
  background: #41B5E9;
}

.menu div {
  flex: 1;
  border-left: solid white 1px;
  border-right: solid white 1px;
}

.menu a {
  text-decoration: none;
  color: white;
}
