body {  
  border: solid black 1px;
}

#navbar {
  width: 100%;
  display: flex;
  background: #41B5E9;
}

#divlink {
  width: 100%;
}

#linklist {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

#linklist a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
