#login {
  height: 400px;
  border: solid black 1px;
}

#loginForm {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
}

input {
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
}

#loginBtn {
  margin-top: 20px;
  font-size: 20px;
}
