.login, .signup {
  padding-top: 50px;
  height: 550px;
  background: #41B5E9;
}

/* LOGIN / SIGNUP */

.loginTitle, .signupTitle {
  margin: 0;
  text-align: center;
  color: white;
  font-family: 'Fredoka One';
  font-size: 26px;
}

.loginForm, .signup form {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: auto;
  border-radius: 10px;
}

.loginForm input, .signup input {
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
}

.loginBtn, .signupBtn {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  background-color: white;
  border: none;
  border-radius: 10px;
  color: #41B5E9;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  font-family: 'Fredoka One';
  font-size: 16px;
  cursor: pointer;
}

.loginBtn:hover, .signupBtn:hover {
  background-color: #3490ba;
  color: white;
}

.footer {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  padding: 5px 0;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  border-top: solid white 1px;
  background: #41B5E9;
}

.footer h4 {
  width: 50%;
  margin: 0 0 0 15px;
  padding: 0;
  text-align: center;
  font-size: 1.4em;
}

.footer h3 {
  width: 50%;
  margin: 0 5px 0 0;
  padding: 0;
  text-align: right;
  font-size: 0.8em;
}

.alertmsg {
  visibility: hidden;
  text-align: center;
  font-family: 'Fredoka One';
  font-size: 20px;
  color: white;
}

@media only screen and (max-width: 640px) {
  .footer h4 {
    font-size: 1.2em;
  }
}
